.navbar {
  height: 100px;
  background-color: #212830;
  padding: 0px 80px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar-burger {
  color: #FFFFFF;
}

.navbar-item {
  display: flex;
  align-items: flex-end;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: 0px;
}

.navbar-space {
  margin-right: 0px;
}

.navbar-item {
  display: flex;
  align-items: center;
}

a.navbar-item {
  color: #FFFFFF;
}

a.navbar-item:focus {
  color: #55CCDE;
  background-color: #212830;
}

a.navbar-item:hover {
  color: #55CCDE;
  background-color: #212830;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 0px;
  }
  .navbar-brand {
    padding: 0px 40px;
  }
  .navbar-menu {
    background-color: #212830;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .navbar-space {
    margin-right: 0px;
  }
}